#footer {
  background-color: rgba(0, 0, 128, 10%);
  padding-block: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#techStack {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  justify-content: center;
  padding-left: 10px;
}
#techStack img {
  aspect-ratio: 1/1;
  width: clamp(15px, 3vw, 40px);
}
#header {
  font-size: clamp(16px, 3vw, 30px);
}
#description {
  width: fit-content;
  margin-inline: auto;
  padding-inline: clamp(12px, 2vw, 24px);
}
@media screen and (max-width: 1306px) {
  #techStack {
    display: none;
  }
}
