.flex {
  display: flex;
}
.flexCol {
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
.test {
  background-color: red;
}
.centerX {
  justify-content: center;
}
.centerY {
  align-items: center;
}
.icon {
  width: 100%;
}
.hoverable {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.test {
  background-color: red;
}
