#imageList {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 1rem 3rem 1rem;
    gap: 1rem;
    background: linear-gradient(0deg, rgba(9, 1, 27, 1) 0%, rgb(34, 14, 107) 100%);
    justify-content: start;
    height: 100vh;
    overflow-y: auto;
}

.likeRatio {
    column-gap: 5px;
}




#likes {
    column-gap: 2rem;
}
.container {
    transition: .8s ease scale;
    padding-inline: 1rem;
}
.container:hover {
    scale: 1.1;
}
* {
    box-sizing: border-box;
}

.image {
    width: 100%;
    max-width: 260px;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.metadata p {
    margin: 0;
    padding: 0;
}

#emptyList {
    margin: auto;
    font-size: 1.3rem;
}




.folderContainer {

    position: relative;
}
.folder {
    transition: all 2s;
}
.folder:hover {
    scale: 1.01;
}

.folderContainer p {
    position: absolute;
    font-size: .8rem;
    left: 37px;
}

.folderContainer .folderText {
    top: 43px;
}


@media screen and (max-width: 1130px) {
    #imageList {
        justify-content: center;
        height: fit-content;
    }
}