#imageList {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    padding: 3rem 1rem 3rem  1rem;
    gap: .5rem;
    background: linear-gradient(0deg, rgba(9,1,27,1) 0%, rgba(23,2,98,1) 100%);
    justify-content: start;

}



.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: inherit;
    backdrop-filter: saturate(50%);
    border-radius: 10px;
    padding: 7px 12px;
}
#likes {
    column-gap: 2rem;
}

* {
    box-sizing: border-box;
}

.image {
    width: 100%;
    max-width: 260px;
    border-radius: 10px;
}

.metadata p {
    margin: 0;
    padding: 0;
}
#emptyList {
    margin: auto;
    font-size: 1.3rem;
}


.image:hover {
    outline: 3px solid green;
}
@media screen and (max-width: 1130px) {
    #imageList {
        justify-content: center;
        height: fit-content;
    }
}